In [ ]:
import pandas as pd
import pyodbc

server = 'DESKTOP-REFQ1DM'
db = 'parkingdata'

conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + db + ';Trusted_Connection=yes')

sql="""select * from schoolcollegetb"""

schoolcollegetb = pd.read_sql(sql, conn)
schoolcollegetb

In [2]:
df1= schoolcollegetb

In [3]:
df1['date'] = [d.date() for d in df1['DateTimeStamp']]
df1['time'] = [d.time() for d in df1['DateTimeStamp']]

In [4]:
df1['date'] = pd.to_datetime(df1['date'])

In [5]:
DayOfWeek={0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'}
df1['NameOfTheDay']=df1['date'].dt.dayofweek.map(DayOfWeek)

In [6]:
df1

,PlaceId,DateTimeStamp,OccupancyPercent,date,time,NameOfTheDay
0,4,2015-01-01 00:05:00,14.0,2015-01-01,00:05:00,Thursday
1,3,2015-01-01 00:10:00,14.0,2015-01-01,00:10:00,Thursday
2,4,2015-01-01 00:15:00,7.0,2015-01-01,00:15:00,Thursday
3,2,2015-01-01 00:20:00,14.0,2015-01-01,00:20:00,Thursday
4,2,2015-01-01 00:25:00,13.0,2015-01-01,00:25:00,Thursday
...,...,...,...,...,...,...
18140,3,2015-03-04 23:45:00,14.0,2015-03-04,23:45:00,Wednesday
18141,2,2015-03-04 23:50:00,8.0,2015-03-04,23:50:00,Wednesday
18142,3,2015-03-04 23:55:00,11.0,2015-03-04,23:55:00,Wednesday
18143,2,2015-03-05 00:00:00,15.0,2015-03-05,00:00:00,Thursday
18144,2,2015-03-05 00:05:00,14.0,2015-03-05,00:05:00,Thursday

In [7]:
daynumbering={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
df1['NumberingDay']=df1['NameOfTheDay'].map(daynumbering)

df1['DayType']=df1.NumberingDay.apply(lambda x: 'Weekday'if (1<=x<=5) else 'weekend')

#tdf1

In [8]:
df1['HourOfDay'] = df1['DateTimeStamp'].dt.hour
#tdf1

In [ ]:
df1['Slots']=df1.HourOfDay.apply(lambda x:'S1' if (6<=x<=7) else ('S2' if (8<=x<=12) else ('S3' if (13<=x<=15) else ('S4' if (16<=x<=22) else ('S5' if (18<=x<=20) else ('S6' if (21<=x<=23) else ('S7' if (0<=x<=2) else ('S8'))))))))